In [1]:
import glob
import pandas as pd
import json
import datetime as datetime

In [2]:
def extract_data_from_json(file_to_process):
    dataframe= pd.read_json(file_to_process)
    return dataframe

In [37]:
import os 

def extract():
    file_1= 'C:/Users/cchaanuj/Desktop/housing-data/bank_market_cap_1.json'  
    dataframe = extract_data_from_json(file_1)
    columns =['Name' , 'Market Cap (US$ Billion)']
    return dataframe

In [38]:
extracted_data = extract()

In [39]:
extracted_data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [40]:
df_2 = pd.read_csv('C:/Users/cchaanuj/Desktop/housing-data/exchange_rates.csv', index_col = 0)

In [41]:
exchange_rate = df_2.loc['GBP']['Rates']

In [42]:
exchange_rate

0.7323984208000001

In [48]:
def transform (dataframe, exchange_rate):
    # (convert Marketcap US$ billion from USD to GBP billion)
    dataframe['Market Cap (US$ Billion)'] = pd.to_numeric(dataframe['Market Cap (US$ Billion)'], errors = 'coerce')
    
    dataframe = dataframe.dropna(subset = ['Market Cap (US$ Billion)'])
    
    
    dataframe['Market Cap (US$ Billion)'] = dataframe['Market Cap (US$ Billion)']* exchange_rate
    
    dataframe['Market Cap (US$ Billion)'] = dataframe['Market Cap (US$ Billion)'].round(3)
    
    dataframe.rename(columns = {'Market Cap (US$ Billion)' : 'Market Cap (GBP$ Billion)'}, inplace = True)
    
    return dataframe

In [49]:
transformed_dataframe = transform(extracted_data, exchange_rate)

In [50]:
transformed_dataframe.head()

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

In [51]:
def save_data_frame_to_csv(dataframe,file_name):
    dataframe.to_csv(file_name, index= False)

In [52]:
import datetime 

def log(message):
    timestamp= datetime.datetime.now().strftime("%Y-%M-%D %H: %M: %S")
    log_message = f"{timestamp} - {message}"
    with open ("etl_log.txt","a") as log_file:
        log_file.write(log_message+ "\n")

In [53]:
log("etl job started")

log("extract phase started")

extracted_data = extract()

log("extract phase Ended")


log("Transform phase started")

transformed_data = transform(extracted_data,exchange_rate)

log("Transform phase ended")


log("Load phase started")

save_data_frame_to_csv(transformed_data, 'bank_market_cap_gbp.csv')

log("Load phase ended")


log("etl job ended")